@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg: #6b240c;
  --first: #994d1c;
  --second: #e48f45;
  --third: #f5cca0;
  --fourth: #6b240c;
  --text-one: #ffffff;
  --text-two: #f5cca0;
  --text-thr: #000000;
  --border: #e48f45;
  --border-section: #6b240c;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--first);
  padding: 10px 35px;
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.04);
}

.name-shop {
  text-align: center;
  font-size: 1.26rem;
  margin: 0px 25px;
  color: var(--text-one);
}

i {
  color: var(--text-one);
  font-size: 1.5rem;
}

i:hover {
  color: var(--text-two);
  cursor: pointer;
}

i:active {
  color: var(--bg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;

  color: var(--text-one);
  background-color: var(--first);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.img-items {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
}

.title-item {
  color: var(--text-two);
  font-size: 2.5rem;
}

.price-item {
  font-size: 2rem;
  letter-spacing: 1px;
}

.btn-item {
  width: 100%;
  background-color: var(--fourth);
  border: 3px solid var(--fourth);
  color: var(--text-two);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}

.btn-item:hover {
  background-color: var(--second);
  border: 3px solid var(--second);
  color: var(--fourth);
  cursor: pointer;
}

.btn-item:active {
  background-color: var(--fourth);
  border: 3px solid var(--fourth);
  color: var(--text-two);
}

.grid-items:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.container-icon {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.cont-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000000;
  color: #ffffff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
}

.container-cart-products {
  position: absolute;
  top: 70px;
  right: 0;
  margin-right: 10px;
  z-index: 1;
  background-color: #ffffff;
  width: 400px;
  font-size: 1.3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.icon-close {
  font-size: 1.6rem;
  color: #fb952c;
}

.icon-close:hover {
  color: red;
  cursor: pointer;
}

.precio--producto-carrito {
  font-weight: 700;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;
}

.cart-total h3 {
  font-weight: 500;
}

.total-pagar {
  font-size: 1.3rem;
  font-weight: 700;
}

.hidden-cart {
  display: none;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

@media (min-width: 1093px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--first);
    padding: 10px 35px;
  }

  .logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .name-shop {
    font-size: 4rem;
    color: var(--text-one);
  }

  i {
    font-size: 3.5rem;
  }
}
